# Analysis PD Male vs PD Female and all PD patients

In [1]:
import sys
sys.path.append('/mnt/0A2AAC152AABFBB7/CGE/luxgiant-clinical')
import luxgiant_clinical.ClinicalReport as lxc

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/mnt/0A2AAC152AABFBB7/CGE/luxgiant-clinical/data/cleaned_file.csv', index_col=0, low_memory=False)
df_cases = df[df['Status']=='Patient'].reset_index(drop=True)
df_cases

,age_at_onset,years_of_education,PD_duration,pdsl,agecat_1,agecat_2,agecatmd,agecent,education2,initial_symptom_s___1,...,functional_impact_of_fluct,complexity_of_motor_fluctu,painful_off_state_dystonia,total_score_part_iv,total_score_mds_updrs_part8,mds_updrs_complete,hy_hoehn_and_yahr_complete,dna_storage,date_stored,dna_complete
0,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,<=12,Unchecked,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Incomplete,Yes,2020-01-02,Complete
1,42.0,3.0,3.0,<=5,<50,>=40,21-49,41-50,<=12,Checked,...,0: Normal: No fluctuations or No impact by f...,0: Normal: No motor fluctuations.,0: Normal: No dystonia OR NO OFF TIME.,0.0,48.0,Unverified,Unverified,Yes,NaN,Unverified
2,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,Above 12,Checked,...,NaN,NaN,NaN,NaN,62.0,Unverified,Unverified,Yes,NaN,Unverified
3,16.0,15.0,19.0,>5,<50,<40,<21,<=30,Above 12,Checked,...,3: Moderate: Fluctuations impact on the perf...,2: Mild: OFF times are predictable most of th...,0: Normal: No dystonia OR NO OFF TIME.,6.0,36.0,Unverified,Unverified,Yes,NaN,Unverified
4,31.0,15.0,9.0,>5,<50,<40,21-49,31-40,Above 12,Checked,...,NaN,NaN,NaN,NaN,14.0,Unverified,Unverified,Yes,NaN,Unverified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7929,67.0,0.0,3.0,<=5,>=50,>=40,>60,61-70,<=12,Checked,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-03,Complete
7930,47.0,NaN,10.0,>5,<50,>=40,21-49,41-50,NaN,Checked,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-08,Complete
7931,60.0,NaN,8.0,>5,>=50,>=40,>60,51-60,NaN,Checked,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-10,Complete
7932,61.0,10.0,5.0,>5,>=50,>=40,>60,61-70,<=12,Checked,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-15,Complete
7933,59.0,NaN,5.0,>5,>=50,>=40,50-60,51-60,NaN,Checked,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-17,Complete

In [4]:
variables_4_patients = [
    'age', 'age_at_onset', 'bmi_comp', 'total_score_for_moca', 'PD_duration', 'years_of_education', 'total_score_for_bdi'
]
lxc.descriptive_analytics(df[variables_4_patients])

,age,age_at_onset,bmi_comp,total_score_for_moca,PD_duration,years_of_education,total_score_for_bdi
mean,50.781,54.218,24.467,23.747,6.151,12.254,9.716
stddev,16.376,11.831,3.642,5.464,4.965,4.943,6.762
min,18.000,10.000,12.484,0.000,0.000,0.000,0.000
max,91.000,90.000,41.623,30.000,31.000,48.000,55.000
first_Q,37.000,46.000,22.058,21.000,2.000,10.000,5.000
median,53.000,55.000,24.302,25.000,5.000,12.000,8.000
third_Q,64.000,63.000,26.667,28.000,9.000,15.000,13.000

In [5]:
# Splitting the file by 'sex'
lxc.descriptive_analytics_by_group(df_data=df, variables=variables_4_patients, group_var='sex')

sex                              Female       Male
age                  mean     51.521717  50.405620
                     std      15.155895  16.943318
                     min      18.000000  18.000000
                     max      90.000000  91.000000
                     first_Q  40.000000  35.000000
                     median   54.000000  52.000000
                     third_Q  63.000000  64.000000
age_at_onset         mean     53.447678  54.584523
                     std      11.511143  11.964149
                     min      12.000000  10.000000
                     max      85.000000  90.000000
                     first_Q  46.000000  47.000000
                     median   54.000000  55.000000
                     third_Q  61.333333  63.000000
bmi_comp             mean     24.407352  24.496474
                     std       3.955842   3.476653
                     min      12.484005  13.771948
                     max      41.623309  41.118421
                     first_Q  21.631149  22.230987
                     median   24.141519  24.382373
                     third_Q  26.694500  26.609713
total_score_for_moca mean     22.961473  24.108831
                     std       6.043370   5.137380
                     min       0.000000   0.000000
                     max      30.000000  30.000000
                     first_Q  20.000000  22.000000
                     median   24.000000  25.000000
                     third_Q  27.000000  28.000000
PD_duration          mean      6.096069   6.177688
                     std       4.907195   4.992868
                     min       0.000000   0.000000
                     max      31.000000  31.000000
                     first_Q   2.000000   2.000000
                     median    5.000000   5.000000
                     third_Q   9.000000   9.000000
years_of_education   mean     11.245601  12.764258
                     std       5.608403   4.483572
                     min       0.000000   0.000000
                     max      45.000000  48.000000
                     first_Q   8.000000  10.000000
                     median   12.000000  13.000000
                     third_Q  15.000000  15.000000
total_score_for_bdi  mean      9.985990   9.578716
                     std       6.831557   6.724541
                     min       0.000000   0.000000
                     max      55.000000  47.000000
                     first_Q   5.000000   5.000000
                     median    9.000000   8.000000
                     third_Q  14.000000  13.000000

In [6]:
lxc.t_test_by_group(df_data=df, variables=variables_4_patients, group_var='sex')

,age,age_at_onset,bmi_comp,total_score_for_moca,PD_duration,years_of_education,total_score_for_bdi
t_stat,-4.246382,3.884318,1.372486,7.339326e+00,0.664182,1.879269e+01,-2.233983
p_val,0.000022,0.000104,0.169934,2.452450e-13,0.506594,5.697667e-78,0.025520

In [7]:
lxc.mann_whitney_by_groups(df_data=df, variables=variables_4_patients, group_var='sex')

,age,age_at_onset,bmi_comp,total_score_for_moca,PD_duration,years_of_education,total_score_for_bdi
u_stat,3.276871e+07,6.449834e+06,2.306741e+07,3.751822e+06,6.150522e+06,3.432619e+07,4.075396e+06
p_val,1.102071e-03,4.750784e-05,1.490411e-03,3.002541e-10,6.046484e-01,9.032983e-51,1.233230e-02

In [8]:
crosstab_vars = [
    'zone_of_origin', 'education_level', 'agecat_1', 'agecat_2', 'pdsl', 'handedness', 'work', 'reason', 
    'nature_of_work___1', 'nature_of_work___2', 'nature_of_work___3', 'over_your_lifetime_have_yo', 
    'during_your_lifetime_did_y', 'in_your_lifetime_have_you', 'in_your_lifetime_have', 
    'have_you_ever_had_a_head_i', 'l_dopa_carbidopa', 'pramipexole', 'ropinerole', 'rasageline', 
    'selegeline', 'entacapone', 'amantadine', 'apomorphine', 'medical_history_neurologic___7', 
    'medical_history_cancer___1', 'medical_history_cancer___2', 'medical_history_cancer___3', 
    'medical_history_cancer___4', 'medical_history_metabolic___1', 'medical_history_metabolic___3', 
    'medical_history_metabolic___4', 'medical_history_cardiovasc___1', 'medical_history_cardiovasc___2', 
    'medical_history_cardiovasc___3', 'medical_history_psychologi___1', 'medical_history_psychologi___3', 
    'family_member_diagnosed_wi', 'family_member_diagnosed_wi_2', 'family_member_diagnosed', 
    'ct_head', 'mri_brain_imaging', 'datscan', 'f_dopa_pet', 'pd_surgical_treatment', 'dbs_done'
]

In [9]:
lxc.chi_squared_tests(df_data=df, variables=crosstab_vars, group_var='sex')

,zone_of_origin,education_level,agecat_1,agecat_2,pdsl,handedness,work,reason,nature_of_work___1,nature_of_work___2,...,medical_history_psychologi___3,family_member_diagnosed_wi,family_member_diagnosed_wi_2,family_member_diagnosed,ct_head,mri_brain_imaging,datscan,f_dopa_pet,pd_surgical_treatment,dbs_done
chi2,3.183183e+02,5.037321e+02,13.176735,0.000145,0.008579,2.338736,3.890075e+02,8.216335,1.260808e+02,11.203836,...,18.278941,3.392001,9.758214,0.410019,0.222388,12.737001,2.791726,1.217239,7.422586,4.971293
p_val,1.209485e-67,7.410869e-109,0.000283,0.990391,0.926204,0.310563,1.361307e-86,0.004151,2.952104e-29,0.000816,...,0.000019,0.065513,0.001785,0.521960,0.637226,0.000358,0.094752,0.269903,0.006441,0.025771
dof,4.000000e+00,3.000000e+00,1.000000,1.000000,1.000000,2.000000,1.000000e+00,1.000000,1.000000e+00,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000