# Analysis PD Early vs PD Late and all PD

In [1]:
import sys
sys.path.append('/mnt/0A2AAC152AABFBB7/CGE/luxgiant-clinical')
import luxgiant_clinical.ClinicalReport as lxc

import pandas as pd

In [2]:
df = pd.read_csv('/mnt/0A2AAC152AABFBB7/CGE/luxgiant-clinical/data/cleaned_file.csv', index_col=0, low_memory=False)
df_cases = df[df['Status']=='Patient'].reset_index(drop=True)
df_cases

,hyonoff,Status,hoehn_and_yahr_staging,age_at_onset,years_of_education,PD_duration,pdsl,agecat_1,agecat_2,agecatmd,...,functional_impact_of_fluct,complexity_of_motor_fluctu,painful_off_state_dystonia,total_score_part_iv,total_score_mds_updrs_part8,mds_updrs_complete,hy_hoehn_and_yahr_complete,dna_storage,date_stored,dna_complete
0,NaN,Patient,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Incomplete,Yes,2020-01-02,Complete
1,Off,Patient,2 - Bilateral disease without impairment of ba...,42.0,3.0,3.0,<=5,<50,>=40,21-49,...,0: Normal: No fluctuations or No impact by f...,0: Normal: No motor fluctuations.,0: Normal: No dystonia OR NO OFF TIME.,0.0,48.0,Unverified,Unverified,Yes,NaN,Unverified
2,On,Patient,1 - Unilateral disease,NaN,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,62.0,Unverified,Unverified,Yes,NaN,Unverified
3,On,Patient,2 - Bilateral disease without impairment of ba...,16.0,15.0,19.0,>5,<50,<40,<21,...,3: Moderate: Fluctuations impact on the perf...,2: Mild: OFF times are predictable most of th...,0: Normal: No dystonia OR NO OFF TIME.,6.0,36.0,Unverified,Unverified,Yes,NaN,Unverified
4,On,Patient,1 - Unilateral disease,31.0,15.0,9.0,>5,<50,<40,21-49,...,NaN,NaN,NaN,NaN,14.0,Unverified,Unverified,Yes,NaN,Unverified
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7929,NaN,Patient,2 - Bilateral disease without impairment of ba...,67.0,0.0,3.0,<=5,>=50,>=40,>60,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-03,Complete
7930,NaN,Patient,1 - Unilateral disease,47.0,NaN,10.0,>5,<50,>=40,21-49,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-08,Complete
7931,NaN,Patient,1 - Unilateral disease,60.0,NaN,8.0,>5,>=50,>=40,>60,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-10,Complete
7932,NaN,Patient,2 - Bilateral disease without impairment of ba...,61.0,10.0,5.0,>5,>=50,>=40,>60,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-15,Complete
7933,NaN,Patient,2 - Bilateral disease without impairment of ba...,59.0,NaN,5.0,>5,>=50,>=40,50-60,...,NaN,NaN,NaN,NaN,NaN,Incomplete,Complete,Yes,2023-11-17,Complete

In [3]:
variables_4_patients = [
    'age', 'age_at_onset', 'bmi_comp', 'total_score_for_moca', 'PD_duration', 'years_of_education', 'total_score_for_bdi'
]
lxc.descriptive_analytics(
    df_data=df_cases[df_cases['agecat_1']=='>=50'].reset_index(drop=True),
    variables=variables_4_patients
)

,age,age_at_onset,bmi_comp,total_score_for_moca,PD_duration,years_of_education,total_score_for_bdi
mean,66.047,60.742,24.284,23.468,5.304,11.515,9.605
stddev,7.463,7.508,3.603,5.484,4.196,5.392,6.318
min,50.000,50.000,12.484,0.000,0.000,0.000,0.000
max,91.000,90.000,40.375,30.000,30.000,48.000,55.000
first_Q,61.000,55.000,21.971,21.000,2.000,9.250,5.000
median,65.000,60.000,24.169,25.000,4.000,12.000,8.000
third_Q,71.000,66.000,26.451,27.000,7.000,15.000,13.000

In [4]:
lxc.descriptive_analytics_by_group(
    df_data  =df_cases, 
    variables=variables_4_patients, 
    group_var='agecat_1'
)

agecat_1                            <50       >=50
age                  mean     48.803265  66.046632
                     std       8.544103   7.462738
                     min      18.000000  50.000000
                     max      78.000000  91.000000
                     first_Q  44.000000  61.000000
                     median   49.000000  65.000000
                     third_Q  54.000000  71.000000
age_at_onset         mean     40.911682  60.742276
                     std       6.757488   7.507704
                     min      10.000000  50.000000
                     max      49.500000  90.000000
                     first_Q  37.000000  55.000000
                     median   42.000000  60.000000
                     third_Q  46.000000  66.000000
bmi_comp             mean     24.184763  24.284328
                     std       3.689621   3.602505
                     min      13.771948  12.484005
                     max      39.162237  40.374610
                     first_Q  21.641274  21.971336
                     median   24.026585  24.168963
                     third_Q  26.395803  26.451398
total_score_for_moca mean     24.242563  23.468079
                     std       5.506886   5.483945
                     min       0.000000   0.000000
                     max      30.000000  30.000000
                     first_Q  22.000000  21.000000
                     median   26.000000  25.000000
                     third_Q  28.000000  27.000000
PD_duration          mean      7.891584   5.304356
                     std       5.885757   4.196160
                     min       0.000000   0.000000
                     max      31.000000  30.000000
                     first_Q   3.000000   2.000000
                     median    6.000000   4.000000
                     third_Q  11.000000   7.000000
years_of_education   mean     11.094994  11.514514
                     std       5.194048   5.392476
                     min       0.000000   0.000000
                     max      30.000000  48.000000
                     first_Q   9.000000   9.250000
                     median   12.000000  12.000000
                     third_Q  15.000000  15.000000
total_score_for_bdi  mean     10.704648   9.605356
                     std       7.257839   6.317562
                     min       0.000000   0.000000
                     max      47.000000  55.000000
                     first_Q   6.000000   5.000000
                     median    9.000000   8.000000
                     third_Q  14.000000  13.000000

In [5]:
lxc.t_test_by_group(
    df_data  =df_cases, 
    variables=variables_4_patients, 
    group_var='agecat_1'
)

,age,age_at_onset,bmi_comp,total_score_for_moca,PD_duration,years_of_education,total_score_for_bdi
t_stat,-89.307791,-110.672126,-1.053102,4.791498,2.179617e+01,-3.116750,5.944840e+00
p_val,0.000000,0.000000,0.292332,0.000002,3.668549e-102,0.001836,2.931492e-09

In [6]:
lxc.mann_whitney_by_groups(
    df_data  =df_cases, 
    variables=variables_4_patients, 
    group_var='agecat_1'
)

,age,age_at_onset,bmi_comp,total_score_for_moca,PD_duration,years_of_education,total_score_for_bdi
u_stat,695756.0,0.0,4.815266e+06,3.295816e+06,7.764795e+06,5.307094e+06,3.978688e+06
p_val,0.0,0.0,1.637251e-01,1.063589e-10,8.564651e-77,2.043731e-03,2.270962e-06

In [7]:
crosstab_vars = [
    'zone_of_origin', 'education_level', 'agecat_1', 'agecat_2', 'pdsl', 'handedness', 'work', 'reason', 
    'nature_of_work___1', 'nature_of_work___2', 'nature_of_work___3', 'over_your_lifetime_have_yo', 
    'during_your_lifetime_did_y', 'in_your_lifetime_have_you', 'in_your_lifetime_have', 
    'have_you_ever_had_a_head_i', 'l_dopa_carbidopa', 'pramipexole', 'ropinerole', 'rasageline', 
    'selegeline', 'entacapone', 'amantadine', 'apomorphine', 'medical_history_neurologic___7', 
    'medical_history_cancer___1', 'medical_history_cancer___2', 'medical_history_cancer___3', 
    'medical_history_cancer___4', 'medical_history_metabolic___1', 'medical_history_metabolic___3', 
    'medical_history_metabolic___4', 'medical_history_cardiovasc___1', 'medical_history_cardiovasc___2', 
    'medical_history_cardiovasc___3', 'medical_history_psychologi___1', 'medical_history_psychologi___3', 
    'family_member_diagnosed_wi', 'family_member_diagnosed_wi_2', 'family_member_diagnosed', 
    'ct_head', 'mri_brain_imaging', 'datscan', 'f_dopa_pet', 'pd_surgical_treatment', 'dbs_done'
]

In [8]:
lxc.chi_squared_tests(
    df_data=df_cases, 
    variables=crosstab_vars, 
    group_var='sex'
)

,zone_of_origin,education_level,agecat_1,agecat_2,pdsl,handedness,work,reason,nature_of_work___1,nature_of_work___2,...,medical_history_psychologi___3,family_member_diagnosed_wi,family_member_diagnosed_wi_2,family_member_diagnosed,ct_head,mri_brain_imaging,datscan,f_dopa_pet,pd_surgical_treatment,dbs_done
chi2,7.639603,4.437409e+02,13.398247,0.0,0.022453,0.276223,1.712612e+02,11.816711,7.227573e+01,6.669419,...,22.102348,0.202184,2.988144,0.067570,0.019482,4.536974,1.750282,0.679465,4.805710,2.957200
p_val,0.105709,7.402294e-96,0.000252,1.0,0.880890,0.871001,3.923859e-39,0.000587,1.871350e-17,0.009808,...,0.000003,0.652964,0.083876,0.794909,0.888994,0.033170,0.185841,0.409771,0.028366,0.085496
dof,4.000000,3.000000e+00,1.000000,1.0,1.000000,2.000000,1.000000e+00,1.000000,1.000000e+00,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
conditions = {
    'ct_head'          : ['ct_result___1'],
    'mri_brain_imaging': ['mri_result___1'],
    'datscan'          : ['datscan_result___1'],
    'f_dopa_pet'       : ['f_dopa_pet_result___1']
}

In [10]:
lxc.chi_squared_conditioned(
    df_data      =df_cases,
    conditionants=conditions,
    condition    ='Yes',
    group_var    ='agecat_1'
)

           Condition               Variable       chi2     p_val  dof
0            ct_head          ct_result___1   3.735655  0.053263  1.0
1  mri_brain_imaging         mri_result___1  54.702182       0.0  1.0
2            datscan     datscan_result___1   0.652526  0.419211  1.0
3         f_dopa_pet  f_dopa_pet_result___1   0.000298  0.986224  1.0

In [11]:
crosstab_vars_1 = [
    'psychiatric_symptoms_type___1', 'psychiatric_symptoms_type___2', 'psychiatric_symptoms_type___3',
    'initial_symptom_s___1', 'initial_symptom_s___2', 'inmotnonmot'
]

In [12]:
lxc.chi_squared_tests(
    df_data  =df_cases, 
    variables=crosstab_vars_1, 
    group_var='agecat_1'
)

,psychiatric_symptoms_type___1,psychiatric_symptoms_type___2,psychiatric_symptoms_type___3,initial_symptom_s___1,initial_symptom_s___2,inmotnonmot
chi2,2.925624,0.128701,0.446882,0.032900,1.671989,0.000162
p_val,0.087184,0.719782,0.503820,0.856067,0.195992,0.989849
dof,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
lxc.fisher_exact_test(
    df_data  =df_cases, 
    variables=crosstab_vars_1, 
    group_var='agecat_1'
)

,psychiatric_symptoms_type___1,psychiatric_symptoms_type___2,psychiatric_symptoms_type___3,initial_symptom_s___1,initial_symptom_s___2,inmotnonmot
fisher,1.620287,0.730938,1.090200,0.977852,0.874119,0.991263
p_val,0.070652,0.632456,0.471447,0.807428,0.185368,1.000000

In [14]:
crosstab_vars_2 = [
    'initial_motor_symptom_s___1', 'initial_motor_symptom_s___2', 'initial_motor_symptom_s___3', 
    'initial_motor_symptom_s___4', 'initial_motor_symptom_s___5', 'initial_motor_symptom_s___6', 
    'initial_motor_symptom_s___7', 'initial_motor_symptom_s___8', 'initial_motor_symptom_s___9', 
    'initial_motor_symptom_s___10', 'initial_motor_symptom_s___11', 'initial_motor_symptom_s___12', 
    'initial_motor_symptom_s___13', 'initial_motor_symptom_s___14', 'initial_motor_symptom_s___15', 
    'initial_motor_symptom_s___16', 'initial_motor_symptom_s___17'
]
lxc.chi_squared_tests(
    df_data=df_cases, 
    variables=crosstab_vars_2, 
    group_var='sex'
)

,initial_motor_symptom_s___1,initial_motor_symptom_s___2,initial_motor_symptom_s___3,initial_motor_symptom_s___4,initial_motor_symptom_s___5,initial_motor_symptom_s___6,initial_motor_symptom_s___7,initial_motor_symptom_s___8,initial_motor_symptom_s___9,initial_motor_symptom_s___10,initial_motor_symptom_s___11,initial_motor_symptom_s___12,initial_motor_symptom_s___13,initial_motor_symptom_s___14,initial_motor_symptom_s___15,initial_motor_symptom_s___16,initial_motor_symptom_s___17
chi2,0.006582,0.198071,0.474892,5.744484,2.359021,0.0,0.138199,0.257091,11.532923,1.900829,0.000594,1.095759,2.929418,0.0,1.594662,0.013185,1.286604
p_val,0.935340,0.656282,0.490745,0.016541,0.124560,1.0,0.710078,0.612126,0.000684,0.167986,0.980551,0.295199,0.086979,1.0,0.206661,0.908583,0.256675
dof,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000

In [15]:
crosstab_vars_3 = [
    'initial_non_motor_symptom___1', 'initial_non_motor_symptom___2', 'initial_non_motor_symptom___3', 
    'initial_non_motor_symptom___4', 'initial_non_motor_symptom___5', 'initial_non_motor_symptom___6', 
    'initial_non_motor_symptom___7', 'initial_non_motor_symptom___8', 'initial_non_motor_symptom___9', 
    'initial_non_motor_symptom___10', 'initial_non_motor_symptom___11', 'initial_non_motor_symptom___12', 
    'initial_non_motor_symptom___13', 'initial_non_motor_symptom___14', 'initial_non_motor_symptom___15', 
    'initial_non_motor_symptom___16', 'initial_non_motor_symptom___17', 'initial_non_motor_symptom___18', 
    'initial_non_motor_symptom___19', 'initial_non_motor_symptom___20', 'initial_non_motor_symptom___21'
]
lxc.chi_squared_tests(
    df_data  =df_cases, 
    variables=crosstab_vars_3, 
    group_var='agecat_1'
)

,initial_non_motor_symptom___1,initial_non_motor_symptom___2,initial_non_motor_symptom___3,initial_non_motor_symptom___4,initial_non_motor_symptom___5,initial_non_motor_symptom___6,initial_non_motor_symptom___7,initial_non_motor_symptom___8,initial_non_motor_symptom___9,initial_non_motor_symptom___10,...,initial_non_motor_symptom___12,initial_non_motor_symptom___13,initial_non_motor_symptom___14,initial_non_motor_symptom___15,initial_non_motor_symptom___16,initial_non_motor_symptom___17,initial_non_motor_symptom___18,initial_non_motor_symptom___19,initial_non_motor_symptom___20,initial_non_motor_symptom___21
chi2,1.448504e+02,3.748528,1.308664,2.739348e+01,13.133073,6.091572,0.176835,0.0,0.417372,5.556784,...,0.002804,14.361848,0.464116,0.012199,0.089636,0.719106,9.213399e+01,0.568424,14.205003,0.365850
p_val,2.315669e-33,0.052854,0.252637,1.659902e-07,0.000290,0.013583,0.674107,1.0,0.518251,0.018409,...,0.957773,0.000151,0.495706,0.912053,0.764641,0.396437,8.100219e-22,0.450886,0.000164,0.545275
dof,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000

In [16]:
crosstab_vars_4 = [
    'current_motor_symptom_s___1', 'current_motor_symptom_s___2', 'current_motor_symptom_s___3', 
    'current_motor_symptom_s___4', 'current_motor_symptom_s___5', 'current_motor_symptom_s___6',
    'current_motor_symptom_s___7', 'current_motor_symptom_s___8', 'current_motor_symptom_s___9',
    'current_motor_symptom_s___10', 'current_motor_symptom_s___12', 'current_motor_symptom_s___13',
    'current_motor_symptom_s___14', 'current_motor_symptom_s___15', 'current_motor_symptom_s___16',
    'current_motor_symptom_s___17', 'current_motor_symptom_s___18', 'current_motor_symptom_s___19',
    'current_motor_symptom_s___20'
]
lxc.chi_squared_tests(
    df_data  =df_cases, 
    variables=crosstab_vars_4, 
    group_var='agecat_1'
)

,current_motor_symptom_s___1,current_motor_symptom_s___2,current_motor_symptom_s___3,current_motor_symptom_s___4,current_motor_symptom_s___5,current_motor_symptom_s___6,current_motor_symptom_s___7,current_motor_symptom_s___8,current_motor_symptom_s___9,current_motor_symptom_s___10,current_motor_symptom_s___12,current_motor_symptom_s___13,current_motor_symptom_s___14,current_motor_symptom_s___15,current_motor_symptom_s___16,current_motor_symptom_s___17,current_motor_symptom_s___18,current_motor_symptom_s___19,current_motor_symptom_s___20
chi2,0.627205,7.314737,3.074362e+01,7.938813e+01,1.613759,0.412769,19.568655,10.949247,2.936474e+01,2.354309,0.182440,23.829766,3.013724e+01,13.303974,11.826424,5.466776e+01,2.444083e+02,7.952360e+01,0.236726
p_val,0.428382,0.006839,2.944703e-08,5.103174e-19,0.203964,0.520567,0.000010,0.000936,5.995863e-08,0.124937,0.669285,0.000001,4.025276e-08,0.000265,0.000584,1.427283e-13,4.300591e-55,4.765004e-19,0.626580
dof,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000

In [17]:
crosstab_vars_5 = [
    'current_non_motor_symptom___1', 'current_non_motor_symptom___2', 'current_non_motor_symptom___3', 
    'current_non_motor_symptom___4', 'current_non_motor_symptom___5', 'current_non_motor_symptom___6', 
    'current_non_motor_symptom___7', 'current_non_motor_symptom___8', 'current_non_motor_symptom___9', 
    'current_non_motor_symptom___10', 'current_non_motor_symptom___11', 'current_non_motor_symptom___12', 
    'current_non_motor_symptom___13', 'current_non_motor_symptom___14', 'current_non_motor_symptom___15', 
    'current_non_motor_symptom___16', 'current_non_motor_symptom___17', 'current_non_motor_symptom___18', 
    'current_non_motor_symptom___19', 'current_non_motor_symptom___20', 'current_non_motor_symptom___21', 
    'current_non_motor_symptom___22', 'current_non_motor_symptom___23'
]
lxc.chi_squared_tests(
    df_data  =df_cases, 
    variables=crosstab_vars_5, 
    group_var='agecat_1'
)

,current_non_motor_symptom___1,current_non_motor_symptom___2,current_non_motor_symptom___3,current_non_motor_symptom___4,current_non_motor_symptom___5,current_non_motor_symptom___6,current_non_motor_symptom___7,current_non_motor_symptom___8,current_non_motor_symptom___9,current_non_motor_symptom___10,...,current_non_motor_symptom___14,current_non_motor_symptom___15,current_non_motor_symptom___16,current_non_motor_symptom___17,current_non_motor_symptom___18,current_non_motor_symptom___19,current_non_motor_symptom___20,current_non_motor_symptom___21,current_non_motor_symptom___22,current_non_motor_symptom___23
chi2,4.934450e+01,1.568588,2.607723,2.532015e+01,3.409884e+01,10.700160,6.075436,0.377286,0.232378,0.121986,...,0.240835,0.005812,21.834538,2.420248,0.161779,1.799912,6.901584e+01,1.304003,11.040703,1.866213
p_val,2.147357e-12,0.210412,0.106344,4.856098e-07,5.238261e-09,0.001071,0.013707,0.539059,0.629766,0.726891,...,0.623604,0.939231,0.000003,0.119776,0.687524,0.179723,9.767564e-17,0.253483,0.000891,0.171909
dof,1.000000e+00,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000

In [18]:
conditions_1 = {
    'hyonoff': ['hoehn_and_yahr_staging', 'hystage']
}
lxc.chi_squared_conditioned(
    df_data      =df_cases,
    conditionants=conditions_1,
    condition    ='Off',
    group_var    ='agecat_1'
)

  Condition                Variable      chi2     p_val  dof
0   hyonoff  hoehn_and_yahr_staging  8.292699  0.217434  6.0
1   hyonoff                 hystage  4.318633  0.037697  1.0

In [19]:
variables = [
    'updrs_1_total_score', 'updrs_part_ii_total_score', 'updrs_part_iii_total_score', 'updrs_part_iv_a_total_scor', 
    'updrs_part_iv_b_total_scor', 'updrs_part_iv_c_total_scor', 'total_score_part_i', 'total_score_part_ii', 
    'total_score_part_iii', 'total_score_part_iv', 'total_score_mds_updrs_part8'
]
lxc.conditioned_descriptive_analytics_by_group(
    df_data  =df_cases,
    variables=variables,
    group_var='agecat_1',
    condition=('hyonoff', 'Off')
)

agecat_1                                    <50        >=50
updrs_1_total_score         mean       1.405280    1.493907
                            std        1.759764    1.857462
                            min        0.000000    0.000000
                            max       10.000000   11.000000
                            first_Q    0.000000    0.000000
...                                         ...         ...
total_score_mds_updrs_part8 min        3.000000    4.000000
                            max      153.000000  169.000000
                            first_Q   32.000000   31.000000
                            median    49.000000   48.000000
                            third_Q   74.500000   67.000000

[77 rows x 2 columns]

In [20]:
lxc.conditioned_mann_whitney_by_groups(
    df_data=df_cases,
    variables=variables,
    group_var='agecat_1',
    condition=('hyonoff', 'Off')    
)

,updrs_1_total_score,updrs_part_ii_total_score,updrs_part_iii_total_score,updrs_part_iv_a_total_scor,updrs_part_iv_b_total_scor,updrs_part_iv_c_total_scor,total_score_part_i,total_score_part_ii,total_score_part_iii,total_score_part_iv,total_score_mds_updrs_part8
u_stat,387935.500000,417928.500000,265595.500000,4.165825e+05,391664.500000,373359.00000,38968.000000,41183.000000,35657.500000,32297.000000,40548.500000
p_val,0.426495,0.195555,0.641633,9.163483e-08,0.025794,0.06646,0.134122,0.006087,0.130336,0.133984,0.333804

In [21]:
lxc.chi_squared_conditioned(
    df_data      =df_cases,
    conditionants=conditions_1,
    condition    ='On',
    group_var    ='agecat_1'
)

  Condition                Variable      chi2     p_val  dof
0   hyonoff  hoehn_and_yahr_staging  20.69321  0.004252  7.0
1   hyonoff                 hystage  0.717877  0.396841  1.0

In [22]:
lxc.conditioned_descriptive_analytics_by_group(
    df_data  =df_cases,
    variables=variables,
    group_var='agecat_1',
    condition=('hyonoff', 'On')
)

agecat_1                                    <50        >=50
updrs_1_total_score         mean       1.693023    1.697652
                            std        1.778911    1.868295
                            min        0.000000    0.000000
                            max       14.000000   11.000000
                            first_Q    0.000000    0.000000
...                                         ...         ...
total_score_mds_updrs_part8 min        0.000000    0.000000
                            max      175.000000  131.000000
                            first_Q   26.000000   26.000000
                            median    42.000000   41.000000
                            third_Q   56.000000   60.000000

[77 rows x 2 columns]

In [23]:
lxc.conditioned_mann_whitney_by_groups(
    df_data=df_cases,
    variables=variables,
    group_var='agecat_1',
    condition=('hyonoff', 'On')    
)

,updrs_1_total_score,updrs_part_ii_total_score,updrs_part_iii_total_score,updrs_part_iv_a_total_scor,updrs_part_iv_b_total_scor,updrs_part_iv_c_total_scor,total_score_part_i,total_score_part_ii,total_score_part_iii,total_score_part_iv,total_score_mds_updrs_part8
u_stat,1.112242e+06,1.132919e+06,1.065074e+06,9.640790e+05,9.850555e+05,841638.000000,44314.500000,44884.500000,33118.500000,40108.000000,42637.000000
p_val,5.583388e-01,3.150598e-01,3.849901e-03,4.509610e-20,1.195071e-17,0.617464,0.138394,0.137731,0.019454,0.017788,0.883463